* { font-size: 12px; font-family: Verdana }

h1 {font-size: 24px}

input { border: 1px solid #ccc }

a#currenttab {
    border-bottom:1px solid #fff
}

a { color: black; text-decoration:none;
    padding:5px; border: 1px solid #aaa;
}

a:hover { background: #ccc }

table { border-collapse:collapse }
td { border: 1px solid #ccc; padding: 3px }
th { border: 1px solid #ccc; padding: 3px; background: #636f88; color: white }

.navigator { border-bottom:1px solid #aaa; padding:5px }